
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
*:focus{
  outline:none;
}
body{
  margin:5vh 5vw 5vh 5vw;
  background-color:#F2F1F1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  cursor: pointer;
  outline:none;
}
#top_bar{
  position: relative;
  width:90vw;
  height:10vh;
  background-color: white;
  border-bottom:solid 0.1vw black;
  display:flex;
  flex-direction: row;
}
.top_button{
  cursor: default;
  width:30vw;
  height:auto;
  background-color: white;
  font-size:2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  border:none;
  height:9.9vh;
  margin-right: 0vw;
}
#logout_btn{
  cursor: pointer;
  outline:none;
}
#box-container {
  position: relative;
  min-height:80vh;
  height:auto;
  width:90vw;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  background-color: honeydew;
}
.box{
  position: relative;
  background-color:white;
  width:30vw;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#box-1{
  background-color: white;
  border-right: solid 0.1vw black;
}
#active_tasks_icon{
  position: absolute;
  top:3.5%;
  max-height: 18%;
  width:auto;
}

#box-2{
  background: white;
  border-right: solid 0.1vw black; 
}
#completed_tasks_icon{
  position: absolute;
  top:3.3%;
  max-height: 18%;
  width: auto;
}

#box-3{
  background-color: white;
}
#private_tasks_icon{
  position: absolute;
  top:2.6%;
  max-height: 18%;
  width: auto;
}


.tasks_div{
  display:flex;
  flex-direction: column;
  position: absolute;
  width:90%;
  top:30%;
  max-height:50vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tasks_add_btn{
  margin-left:9vw;
  font-size: 1.8vw;
  background-color:white;
}
.tasks_list{
  margin-top:5vh;
  display:flex;
  flex-direction: column;
  top:30%;
  width:90%;
  height:40vh;
  align-items: center;
  text-emphasis: center;
  overflow-y:auto;
}
.tasks_title{
  position: relative;
  font-size: 2.2vw;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.task{
  position: relative;
  display: flex;
  flex-direction: row;
  width:100%;
  margin-top:3vh;
  padding-right:7vw;
  
  
}
.task_name{
  text-align: left;
  font-size:1vw;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.task_btn_tick{
  cursor: pointer;
  height:2.8vh;
  text-align: center;
  position: absolute;
  left:0vw;
  font-size: 1vw;
  margin-bottom:0vw;
  border:none;
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width:2.9vw;
  background-color: white;

}
.task_btn_mark{
  cursor: pointer;
  height:2.8vh;
  text-align: center;
  position: absolute;
  font-size:1vw;
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border:none;
  width:2.9vw;
  right:0vw;
  margin-right:0vw;
  background-color: white; 
 
}
#task_hidden_input{
  width:0vw;
  visibility: hidden;
}

.private_task_btn_tick{
  text-align: center;
  height:2.8vh;
  position: absolute;
  left:0vw;
  font-size: 1vw;
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width:2.9vw;
  border:none;
  color:grey;
  margin-bottom: 0vw;
}
.private_task_btn_mark{
  cursor: pointer;
  height:2.8vh;
  text-align: center;
  position: absolute;
  font-size:1vw;
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border:none;
  width:2.9vw;
  right:0vw;
  margin-right:0vw;
  background-color: white;
}
.completed_task_btn_tick{
  text-align: center;
  height:2.8vh;
  position: absolute;
  left:0vw;
  font-size: 1vw;
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width:2.9vw;
  border:none;
  color:grey;
  margin-bottom: 0vw;
}
.completed_task_btn_mark{
  cursor: pointer;
  height:2.8vh;
  text-align: center;
  position: absolute;
  font-size:1vw;
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border:none;
  width:2.9vw;
  right:0vw;
  margin-right:0vw;
  background-color: white;
}
input{
  border-style: groove;
  border-width: 0 0.1vw 0.1vw 0;
  width:20vw;
  margin-right:1vw;
  font-size:1.2vw;
  font-weight:bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.submit_task_btn{
  width:auto;
  background-color: white;
  border:none;
}
.check_mark_form{
  display:block;
  position: absolute;
  right:0%;
  width:6vw;
  height:3.2vh;
  border-style: solid;
  border-width: 0.1vw 0.1vw 0.1vw 0.1vw;
  
}

@media screen and (orientation:portrait){
  .tasks_div{
    max-height: 45vh;
    width:100vw;
  }
  .tasks_list{
    max-height: 20vh;
    width:100vw;
  }
  .box{
    height: 50vh;
    width:90%;
    margin-left:5vw;
    margin-right:5vw;
  }
  #box-2{
    background: white;
    border-right:0vw;
  }
  #box-1{
    background: white;
    border-right:0vw;
  }
  .task{
    width:50vw;
    padding-right: 11vw;
  }
  .tasks_title{
    font-size: 3.5vw;
  }
  .task_name{
    font-size: 2vw;
  }
  .check_mark_form{
    width:10vw;
  }
  .task_btn_tick{
    font-size: 1.8vw;
    width:5vw;
  }
  .task_btn_mark,.private_task_btn_tick,.completed_task_btn_mark,.completed_task_btn_tick,.private_task_btn_mark{
    font-size: 1.8vw;
    width:5vw;
  }

  .tasks_add_btn{
    font-size:3vw;
  }
  .top_button{
    font-size:3vw;
  }
  input{
    font-size:2.5vw;
    width:50vw;
  }

}